# Python
__pycache__/
*.pyc
*.pyo

# Raw video dataset
dataset/

# Virtual Environment
venv/

# Data files (large)
data/processed/
data/X.npy
data/y.npy

# Model files (optional)
models/lstm_model.pth

# OS files
.DS_Store
Thumbs.db

# React
node_modules/
frontend/node_modules/

.env