body {
    margin: 0;
    padding: 0;
    background: #0f172a;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
}

.container {
    padding-top: 20px;
}

h1 {
    color: #00ffff;
    margin-bottom: 20px;
}

.video-box {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    border-radius: 20px;
    overflow: hidden;
    border: 3px solid #00ffff;
    box-shadow: 0 0 20px rgba(0,255,255,0.4);
}

.video-box img {
    width: 100%;
    display: block;
}

.footer {
    margin-top: 20px;
    color: #cbd5e1;
    font-size: 18px;
}